.App {
  text-align: center;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
  margin-bottom: 30vh;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_bar{
  width: 30%;
}

